<div class="bg-light">
    <h2 class="mx-5 p-2">Nouveau clients</h2>
    <table class="table mx-4 border-bottom">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">jour</th>
            <th scope="col">mois</th>
            <th scope="col">année</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">0</th>
            <td>0</td>
            <td>12</td>
            <td>132</td>
        </tr>
        <tr>
            <th scope="row">-1</th>
            <td>2</td>
            <td>25</td>
            <td>328</td>
        </tr>
        <tr>
            <th scope="row">-2</th>
            <td>1</td>
            <td>42</td>
            <td>432</td>
        </tr>
    </tbody>
  </table>
  <p class="px-5"><a href="#">plus d'information</a></p>
</div>