<div class="container-fluid bg-light">
    <h2 class="pt-5 d-flex flex-column justify-content-center align-items-center">Produit les plus vendu</h2>
    <div class="row m-5">
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>2</h2>
            <img class="w-100" src="https://www.wanimo.com/images_media/featured_category/categorie-vedette-aac-b.png" alt="second produit phare">
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>1er</h2>
            <img class="w-100" src="https://www.wanimo.com/images/alimentation_pour_chat/B/00/B00EZ01/1900x1900/01/royal-canin-persian-kitten-persian-kitten.jpg" alt="produit phare">
        </div>
        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>3</h2>
            <img class="w-100" src="https://www.wanimo.com/images_media/featured_category/image_desktop_60b09d178e8a13.62212953.png" alt="troisième place du podium">
        </div>
    </div>
    <p class="pb-5 d-flex justify-content-center"><a routerLink="produits-phares">Voir plus</a></p>
</div>