<div class="bg-light pt-3 mt-4 container-fluid border-bottom">
    <div class="row m-5">
        <div class="p-2 bg-custom col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Ventes 02/07/2021</h2>
            <p>1681</p>
        </div>
        <div class="p-2 bg-white col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Commandes 02/07/202</h2>
            <p>6884</p>
        </div>
        <div class="p-2 bg-custom col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Paniers 02/07/202</h2>
            <p>65151</p>
        </div>
        <div class="p-2 bg-white col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Ventes aôut</h2>
            <p>1681</p>
        </div>
        <div class="p-2 bg-custom col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Commandes aôut</h2>
            <p>6884</p>
        </div>
        <div class="p-2 bg-white col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Paniers aôut</h2>
            <p>65151</p>
        </div>
        <div class="p-2 bg-custom col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Ventes 2021</h2>
            <p>1681</p>
        </div>
        <div class="p-2 bg-white col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Commandes 2021</h2>
            <p>6884</p>
        </div>
        <div class="p-2 bg-custom col-4 d-flex flex-column justify-content-center align-items-center">
            <h2>Paniers 2021</h2>
            <p>65151</p>
        </div>
        <div class="p-2 col-4 d-flex flex-column justify-content-center align-items-center">
            <p><a routerLink="ventes">plus d'information</a></p>
        </div>
        <div class="p-2 col-4 d-flex flex-column justify-content-center align-items-center">
            <p><a routerLink="commandes">plus d'information</a></p>
        </div>
        <div class="p-2 col-4 d-flex flex-column justify-content-center align-items-center">
            <p><a routerLink="paniers">plus d'information</a></p>
        </div>
    </div>
</div>